html {
    overflow-x: hidden;
}

body {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    margin: 0px;
    overflow-x: hidden;
}

.minicolors-theme-default .minicolors-swatch {
    width: 13px;
    height: 13px;
    border-radius: 2px;
}
.minicolors-theme-default {
    width: 100%;
}
.minicolors-theme-default {
    width: calc(100% - 130px);
}
.minicolors-theme-default .minicolors-input {
    width: 100%;
    height: unset;
}

.harmony {
    border-spacing: 0px;
    margin-bottom: 20px;
    width: 100%;
    /*transform: skewX(-20deg) scaleX(1.1);*/
}

.harmony td {
    padding: 0px;
}

.harmony:nth-child(2) .colour-block {
    height: 100px;
}

.harmony .colour-block {
    height: 60px;
    transition: height 0.2s ease;
}

.harmony.small .colour-block {
    height: 20px;
}

.harmony:not(.selected) .colour-block.shade {
    height: 0px;
}

.harmony.selected .colour-block {
    height: 86px;
}

#distance {
    margin-top: 40px;
    margin-bottom: 40px;
    width: calc(100% - 30px);
    margin-left: 15px;
}

.minicolors-panel {
    border: solid 0px black !important;
}

#app {
    max-width: 400px;
    margin: auto;
}

.colourpicker {
    margin-left: 30px;
}

.get-image {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 30px;
    opacity: 0.1;
}

#image-preview {
    max-width: 100%;
    margin-top: 30px;
}

.colour-preview {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 5px solid white;
}